.cv-button {
    color: white;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2rem;
}

.offcanvas-body {
    background: linear-gradient(225deg, #cb60a2 0%, #9ba4e7 50%, #2B86C5 75%);
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.offcanvas-title{
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

.cv-download{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 1rem;
    background-color: #9ba4e7;
    height: 2rem;
    width: 20vw;
    transition: 0.7s;


}

.cv-download:hover{
    color:white;
    box-shadow: inset 3px 3px 12px 0px #6172f3, 4px 4px 12px 4px #8b3b91e3;
}