.cv-button {
    color: white;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 2rem;
}

.offcanvas-body {
    background: linear-gradient(225deg, #cb60a2 0%, #9ba4e7 50%, #2B86C5 75%);
    display: flex;
    flex-direction: column;
    
}

.offcanvas-title{
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color:white;
}